.welcome-message{
    font-size: 2.5em;
    background-color:lightgreen;
    color:white;
    border-radius:5px;
    padding: 10px;
    margin:0;
}
.login-prompt{
        font-size: 2.5em;
    background-color:red;
    color:white;
    border-radius:5px;
    padding: 10px;
    margin:0;
}