.card{
  border:1px solid rgb(152, 139, 139);
  border-radius: 10px;
  box-shadow:5px 5px 5px rgba(142, 116, 116, 0.243);
  padding: 20px;
  margin:10px;
  text-align: center;
  max-width:250px;
  display:inline-block;
}

.card .card-image{
  max-width:60%;
  height:auto;
  border-radius:50%;
  margin-bottom:10px;
}

.card .card-title{
  font-family: Arial,sans-serif;
  margin:0;
  color:rgb(46, 46, 46);
}

.card .card-text{
  font-family: Arial,sans-serif;
  color:rgb(124, 119, 119);
}